<h2>Add a movie to the list aka create a bookmark aka
    associate movie & list:
</h2>
<%= simple_form_for([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, as: :select %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

<%# <p><%= link_to 'Back to the list', list_path(params[:id]) %>
